ul,li,h2,nav{
    display: inline-block;
    background-color: cornflowerblue;
    color: cornsilk;
    border-radius: 7px;
    
}
.one{
    display: block;
}
h2{      
    padding-left: 20px;
}
ul{
    padding-left: 75%;
    cursor: pointer;
    
}
li:hover{
    color: blue;
}
.gallery{
    display: inline-block;
    padding: 50px;
    margin: 5px ;
    border: 1px solid hsl(0, 0, 60);
}
body{
    background-image: url(bgimg2.jpg) ;
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
       background-position: center;
}
input{
    padding: 15px;
    width: 70%;
    text-align: center;
    padding-left: 20px;
}
.searchbar{
    text-align: center;
    padding-left: 20px;
}
.gallery{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    text-align: center;
}
.one{
    display: flex;
    justify-content: center;
}
.one.hover{
    transition: ease-in-out;
    transition-duration: 500ms;
    
}
.two{
    padding-top: 40px;
    text-align: center;
    color: black;
}
