ul,li,h2,nav{
    display: inline-block;
    background-color: cornflowerblue;
    color: cornsilk;
    border-radius: 7px;
    
}
.one{
    display: block;
}
h2{      
    padding-left: 20px;
}
ul{
    padding-left: 75%;
    cursor: pointer;
    
}
li:hover{
    color: blue;
}
body{
    background-image: url(contactbgimg.webp);
     background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
       background-position: center;
}
.three{
    text-align: center;
    margin-left: 45%;
}

